    <div class="jumbotron jumbotron-fluid frost">
      <div class="container center">
        <div class="title-container">
          <h1 class="display-3">Happy Habit Tracker</h1>
          <i class="fa-solid fa-utensils fa-4x"></i>
        </div>
        <p class="lead">Habit</p>
        <p>
          <i class="fas fa-calendar-alt fa-xl"></i
          ><span id="current-date"></span>
        </p>
      
      </div>
      <button id="addBtn">Add</button>

      <p id="add"></p>

  
          <div class="text-center">

            <p id="timestamp">{{timestamp}}</p>
         
            <p id="user_id" >{{user_id}}</p>
            
            <p id="habit_id">{{habit_id}}</p>

           
       
          </div>
          
        </div>
      </div>
    </div>
    <script src="/js/addHabit.js"></script>