{{#each entries as |entry|}}

<div style="display: flex; justify-content: space-between">
  <p class="card-text">{{habit.habit_name}} - {{entry.timestamp}}</p>
    <div>
      <button href="#" class="btn bg-dark edit-Btn">Edit</button>
      <button href="#" class="btn bg-dark delete-Btn" data-id="{{entry.id}}">Delete</button>
    </div>
</div>
{{/each}}