<div class="card card-margin" style="width: 30rem">
  <div class="card-body center">
    <h5 class="card-title">You Drank Water!</h5>
    <div id="time"></div>
    <button>Edit</button>
    <button>Delete</button>
  </div>
</div>
<script>
  const currentDate = new Date(); const timestamp = currentDate.getTime();
  document.getElementById('time').innerHTML =+ timestamp
</script>