<!-- Header start here -->
<div class="jumbotron jumbotron-fluid frost">
  <div class="container center">
    <div class="title-container">
      <h1 class="display-3">Dietary</h1>
      <!-- Font awesome icon -->
      <i class="fa-solid fa-utensils fa-4x"></i>
    </div>
    <p class="lead">"Eat good food"</p>

    <!-- Date starts here -->
    <p><i class="fas fa-calendar-alt fa-xl"></i><span
        id="current-date"
      ></span></p>
    <!-- Date starts here -->
  </div>

</div>
<!-- Header ends here -->

<!-- Cards starts here -->
<div class="card-container">
  <!-- Water card starts here -->
  <div class="card card-margin" style="width: 30rem;">
    <div class="card-body center">
      <h5 class="card-title">Water</h5>
      <p class="card-text">List something cool about water here</p>
      <a href="/dietary/water" class="btn btn-dark">Track Habit</a>
    </div>
  </div>
  <!-- Water card ends here -->
  <!------------->
  <!-- Fruit & Veggie card starts here -->
  <div class="card card-margin" style="width: 30rem;">
    <div class="card-body center">
      <h5 class="card-title">Fruit & Veggie
      </h5>
      <p class="card-text">List something cool about weight food here</p>
      <a href="/dietary/fruit&veggie" class="btn btn-dark">Track Habit</a>
    </div>
  </div>
  <!-- Fruit & Veggie card ends here -->
  <!------------->
  <!-- Protein card starts here -->
  <div class="card card-margin" style="width: 30rem;">
    <div class="card-body center">
      <h5 class="card-title">Protein
      </h5>
      <p class="card-text">List something cool about gains here</p>
      <a href="/dietary/protein" class="btn btn-dark">Track Habit</a>
    </div>
  </div>
  <!-- Protein card ends here -->
  <!------------->
  <!-- Other Card starts here -->
  <div class="card card-margin" style="width: 30rem;">
    <div class="card-body center">
      <h5 class="card-title">Other
      </h5>
      <p class="card-text">List something cool about other here</p>
      <a href="/dietary/other" class="btn btn-dark">Track Habit</a>
    </div>
  </div>
  <!-- Other card ends here -->
</div>
<!-- Cards ends here -->

<!-- Home button starts here -->
<div class="center back-button">
  <a href="/"><button type="button" class="btn btn-dark btn-lg">Go Back Home</button></a>
</div>
<!-- Home button ends here -->