<!-- Header start here -->
<div class="jumbotron jumbotron-fluid frost" style="text-align: center;">
  <div class="container center">
    <div class="title-container">
      <h1 class="display-3">Dietary</h1>
      <!-- Font awesome icon -->
      <i class="fa-solid fa-utensils fa-4x"></i>
    </div>
    <p class="lead">"Eat good food"</p>
    <img
      class="d-inline-block align-top"
      alt="logo"
      height="250"
      src="/images/diet.jpg"
    />
  </div>
</div>
<!-- Header ends here -->

<!-- Cards starts here -->
<div
  class="card-container"
  style="display: flex; flex-direction: column; align-items: center; text-align: center;"
>
  <!-- Water card starts here -->
  <div class="card card-margin" style="width: 40rem; margin: 1.5rem;">
    <div class="card-body center">
      <h5 class="card-title">Water</h5>
      <p class="card-text">"A man of wisdom delights in water." - Confucius</p>
      <a href="/dietary/water" class="btn btn-primary">Track Habit</a>
    </div>
  </div>
  <!-- Water card ends here -->
  <!------------->
  <!-- Fruit & Veggie card starts here -->
  <div class="card card-margin" style="width: 40rem; margin: 1.5rem;">
    <div class="card-body center">
      <h5 class="card-title">Fruit & Veggie
      </h5>
      <p class="card-text">"We should all be eating fruits and vegetables as if
        our lives depend on it - because they do." - Michael Greger</p>
      <a href="/dietary/fruit&veggie" class="btn btn-primary">Track Habit</a>
    </div>
  </div>
  <!-- Fruit & Veggie card ends here -->
  <!------------->
  <!-- Protein card starts here -->
  <div class="card card-margin" style="width: 40rem; margin: 1.5rem;">
    <div class="card-body center">
      <h5 class="card-title">Protein
      </h5>
      <p class="card-text">"Vegetables are interesting but lack a sense of
        purpose when unaccompanied by a good cut of meat. - Fran Lebowitz"</p>
      <a href="/dietary/protein" class="btn btn-primary">Track Habit</a>
    </div>
  </div>
  <!-- Protein card ends here -->
  <!------------->
  <!-- Other Card starts here -->
  <div class="card card-margin" style="width: 40rem; margin: 1.5rem;">
    <div class="card-body center">
      <h5 class="card-title">Other
      </h5>
      <p class="card-text">"To eat is a necessity, but to eat intelligently is
        an art." - La Rouchefoucald</p>
      <a href="/dietary/other" class="btn btn-primary">Track Habit</a>
    </div>
  </div>
  <!-- Other card ends here -->
</div>
<!-- Cards ends here -->

<!-- Home button starts here -->
<div
  class="back-button"
  style="display: flex; justify-content: center; margin: 1rem;">

  <a href="/"><button type="button" id="homeBtn" class="btn btn-dark btn-lg">Go Back Home</button></a>

</div>
<!-- Home button ends here -->