{{! Header Starts Here }}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">{{title}} Tracker</a>
  <button id="myBtn" class="btn btn-outline-success my-2 my-sm-0" data-id="{{habitID}}">Add</button>

  {{!-- Habit Entry as partial --}}
</nav>

<div class="habit-container">
  
{{> entry}}
</div>

<script src="/js/addHabit.js"></script>