{{! Header Starts Here }}
<div class="entryContainer" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
  <div class="card" style="width: 40rem; margin: 3rem; border: 1px solid">
    <div class="card-body" >
      <h5 class="card-title" style="border-bottom: 1.5px solid; padding-bottom: 15px;">{{title}} Tracker</h5>
      <button id="addBtn" class="btn btn-outline-success my-2 my-sm-0" data-id="{{habitID}}">Add an Entry!</button>        

      {{!-- Habit Entry as partial --}}
      <section class="habit-container">
    
<div class="container">
  <canvas id="myChart"></canvas>
</div>          
          {{> entry}}
      </section>  

    </div>
  </div>
</div>




<script src="/js/changeHabit.js"></script>
<script src="/js/chart.js"></script>
