
<!-- Header start here -->
<div class="jumbotron jumbotron-fluid frost" style="text-align: center;">
    <div class="container center">
    <div class="title-container">
      <h1 class="display-3">Happy Habit Tracker</h1>
      <!-- icon -->
      <div class="icon">
      </div>
    </div>
      <p class="lead">Track your habits with this happy, handy application.</p>

      <!-- Date starts here -->
      <p><i class="fas fa-calendar-alt fa-xl"></i><span id="current-date"></span></p>
      <!-- Date starts here -->
    </div>

</div>
<!-- Header ends here -->

<!-- Cards starts here -->
<div class="container-fluid card-container" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
    <!-- Physical card starts here -->
  <div class="card card-margin" style="width: 40rem; margin: 1.5rem;">
    <div class="card-body center">
      <h5 class="card-title">Physical</h5>
      <p class="card-text">“The last three or four reps is what makes the muscle grow. This area of pain divides a champion from someone who is not a champion.”- Arnold Schwarzenegger</p>
      <a href="/physical" class="btn btn-primary" id="physicalBtn">Track Habit</a>
    </div>
  </div>
  <!-- Physical card ends here -->
  <!------------->
  <!-- Mental card starts here -->
  <div class="card card-margin" style="width: 40rem; margin: 1.5rem;">
    <div class="card-body center">
      <h5 class="card-title">Mental
      </h5>
      <p class="card-text">“Mental health problems don’t define who you are. They are something you experience. You walk in the rain and you feel the rain, but, importantly, YOU ARE NOT THE RAIN.” — Matt Haig</p>
      <a href="/mental" class="btn btn-primary" id="mentalBtn">Track Habit</a>
    </div>
  </div>
  <!-- Mental card ends here -->
  <!------------->
  <!-- Dietary card starts here -->
  <div class="card card-margin" style="width: 40rem; margin: 1.5rem;">
    <div class="card-body center">
      <h5 class="card-title">Dietary
      </h5>
      <p class="card-text">"It took more than a day to put it on. It will take more than a day to take it off -Anonymous"</p>
      <a href="/dietary" class="btn btn-primary" id="dietaryBtn">Track Habit</a>
    </div>
  </div>
<!-- Dietary card ends here -->
<!------------->
<!-- Cards ends here -->

<script src="/js/script.js"></script>