<link rel="stylesheet" href="/css/login-style.css" />
<div class="wrapper">
  <div class="text-center mt-4 name">Happy Habit Tracker</div>
  <br />
  <form class="login-form p-3 mt-3">
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input
        class="form-input"
        type="text"
        id="username-login"
        placeholder="Username"
      />
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input
        class="form-input"
        type="password"
        id="password-login"
        placeholder="Password"
      />
    </div>
    <button type="submit" class="btn mt-3">Login</button>
  </form>
  <br />
  <div class="text-center fs-6">
    <p>Don't have an account?</p>
    <a href="/signup">Sign up</a>
  </div>
</div>

<script src="/js/login.js"></script>