<link rel="stylesheet" href="/css/login-style.css" />
<div class="wrapper">
  <div class="text-center mt-4 name">Happy Habit Tracker</div>
  <br />
  <form class="p-3 mt-3">
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="text" name="userName" id="userName" placeholder="Username" />
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="text" name="email" id="email" placeholder="Email" />
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input type="password" name="password" id="pwd" placeholder="Password" />
    </div>
    <button id="login" class="btn mt-3">Login</button>
  </form>
  <br />
  <div class="text-center fs-6">
    <p>Don't have an account?</p>
    <a href="/signup">Sign up</a>
  </div>
</div>