<!-- Header start here -->
<div class="jumbotron jumbotron-fluid frost">
  <div class="container center">
    <div class="title-container">
      <h1 class="display-3">Mental</h1>
      <!-- Font awesome icon -->
      <i class="fa-solid fa-brain fa-4x"></i>
    </div>
    <p class="lead">"Mental health is important!!!"</p>

    <!-- Date starts here -->
    <p><i class="fas fa-calendar-alt fa-xl"></i><span
        id="current-date"
      ></span></p>
    <!-- Date starts here -->
  </div>

</div>
<!-- Header ends here -->

<!-- Cards starts here -->
<div class="card-container">
  <!-- Meditation card starts here -->
  <div class="card card-margin" style="width: 30rem;">
    <div class="card-body center">
      <h5 class="card-title">Meditation</h5>
      <p class="card-text">List something cool about medetation here</p>
      <a href="#" class="btn btn-dark">Track Habit</a>
    </div>
  </div>
  <!-- Meditation card ends here -->
  <!------------->
  <!-- Journaling card starts here -->
  <div class="card card-margin" style="width: 30rem;">
    <div class="card-body center">
      <h5 class="card-title">Journaling
      </h5>
      <p class="card-text">List something cool about journaling here</p>
      <a href="#" class="btn btn-dark">Track Habit</a>
    </div>
  </div>
  <!-- Journaling card ends here -->
  <!------------->
  <!-- Rest card starts here -->
  <div class="card card-margin" style="width: 30rem;">
    <div class="card-body center">
      <h5 class="card-title">Rest
      </h5>
      <p class="card-text">List something cool about rest here</p>
      <a href="#" class="btn btn-dark">Track Habit</a>
    </div>
  </div>
  <!-- Rest card ends here -->
  <!------------->
  <!-- Other Card starts here -->
  <div class="card card-margin" style="width: 30rem;">
    <div class="card-body center">
      <h5 class="card-title">Other
      </h5>
      <p class="card-text">List something cool about other here</p>
      <a href="#" class="btn btn-dark">Track Habit</a>
    </div>
  </div>
  <!-- Other card ends here -->
</div>
<!-- Cards ends here -->

<!-- Home button starts here -->
<div class="center back-button">
  <button type="button" class="btn btn-dark btn-lg">Go Back Home</button>
</div>
<!-- Home button ends here -->