<!-- Header start here -->
<div class="jumbotron jumbotron-fluid frost" style="text-align: center;">
  <div class="container center">
    <div class="title-container">
      <h1 class="display-3">Mental</h1>
      <!-- Font awesome icon -->
      <i class="fa-solid fa-brain fa-4x"></i>
    </div>
    <p class="lead">"Mental health is important!!!"</p>

    <!-- Date starts here -->
    <p><i class="fas fa-calendar-alt fa-xl"></i><span
        id="current-date"
      ></span></p>
    <!-- Date starts here -->
  </div>

</div>
<!-- Header ends here -->

<!-- Cards starts here -->
<div class="card-container" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
  <!-- Meditation card starts here -->
  <div class="card card-margin" style="width: 40rem; margin: 1.5rem;">
    <div class="card-body center">
      <h5 class="card-title">Meditation</h5>
      <p class="card-text">"Quiet the mind and the soul will speak." - Ma Jaya Sati Bhagavati</p>
      <a href="/mental/meditation" class="btn btn-primary">Track Habit</a>
    </div>
  </div>
  <!-- Meditation card ends here -->
  <!------------->
  <!-- Journaling card starts here -->
  <div class="card card-margin" style="width: 40rem; margin: 1.5rem;">
    <div class="card-body center">
      <h5 class="card-title">Journaling
      </h5>
      <p class="card-text">"There is no greater agony than bearing an untold story inside you." - Maya Angelou</p>
      <a href="/mental/journaling" class="btn btn-primary">Track Habit</a>
    </div>
  </div>
  <!-- Journaling card ends here -->
  <!------------->
  <!-- Rest card starts here -->
  <div class="card card-margin" style="width: 40rem; margin: 1.5rem;">
    <div class="card-body center">
      <h5 class="card-title">Rest
      </h5>
      <p class="card-text">"Wisdom is knowing when to have rest, when to have activity, and how much of each to have." - Sri Sri Ravi Shankar</p>
      <a href="/mental/rest" class="btn btn-primary">Track Habit</a>
    </div>
  </div>
  <!-- Rest card ends here -->
  <!------------->
  <!-- Other Card starts here -->
  <div class="card card-margin" style="width: 40rem; margin: 1.5rem;">
    <div class="card-body center">
      <h5 class="card-title">Other
      </h5>
      <p class="card-text">"One small crack does not mean that you are broken. it means that you were put to the test and you didn't fall apart." - Linda Poindexter</p>
      <a href="/mental/other" class="btn btn-primary">Track Habit</a>
    </div>
  </div>
  <!-- Other card ends here -->
</div>
<!-- Cards ends here -->

<!-- Home button starts here -->
<div class="back-button" style="display: flex; justify-content: center; margin: 1rem;">
  <a href="/"><button type="button" class="btn btn-dark btn-lg">Go Back Home</button></a>

</div>
<!-- Home button ends here -->