<!-- Header start here -->
<div class="jumbotron jumbotron-fluid frost" style="text-align: center;">
  <div class="container center">
    <div class="title-container">
      <h1 class="display-3">Physical</h1>
      <!-- Font awesome icon -->
      <i class="fa-solid fa-person-running fa-5x"></i>
    </div>
    <p class="lead">"30min of cardio a day will increase your heart's health"</p>
    <img
      class="d-inline-block align-top"
      alt="logo"
      height="250"
      src="/images/fitness.jpg"
    />
  </div>
</div>
<!-- Header ends here -->

<!-- Cards starts here -->
<div
  class="card-container"
  style="display: flex; flex-direction: column; align-items: center; text-align: center;"
>
  <!-- Running card starts here -->
  <div class="card card-margin" style="width: 40rem; margin: 1.5rem;">
    <div class="card-body center">
      <h5 class="card-title">Running</h5>
      <p class="card-text">“I don’t run to add days to my life, I run to add
        life to my days.” – Ronald Rook</p>
      <a href="/physical/running" class="btn btn-primary">Track Habit</a>
    </div>
  </div>
  <!-- Running card ends here -->
  <!------------->
  <!-- Weigh lifting card starts here -->
  <div class="card card-margin" style="width: 40rem; margin: 1.5rem;">
    <div class="card-body center">
      <h5 class="card-title">Weight Lifting
      </h5>
      <p class="card-text">"Intensity builds immensity." - Kevin Levrone</p>
      <a href="/physical/weightLifting" class="btn btn-primary">Track Habit</a>
    </div>
  </div>
  <!-- Weight lifting card ends here -->
  <!------------->
  <!-- Yoga card starts here -->
  <div class="card card-margin" style="width: 40rem; margin: 1.5rem;">
    <div class="card-body center">
      <h5 class="card-title">Yoga
      </h5>
      <p class="card-text">"Yoga is the perfect opportunity to be curious about
        who you are." - Jason Crandell</p>
      <a href="/physical/yoga" class="btn btn-primary">Track Habit</a>
    </div>
  </div>
  <!-- Yoga card ends here -->
  <!------------->
  <!-- Other Card starts here -->
  <div class="card card-margin" style="width: 40rem; margin: 1.5rem;">
    <div class="card-body center">
      <h5 class="card-title">Other
      </h5>
      <p class="card-text">"Motivation is what get you started. Habit is what
        keeps you going." - Jim Ryan"</p>
      <a href="/physical/other" class="btn btn-primary">Track Habit</a>
    </div>
  </div>
  <!-- Other card ends here -->
</div>
<!-- Cards ends here -->

<!-- Home button starts here -->
<div
  class="back-button"
  style="display: flex; justify-content: center; margin: 1rem;">

  <a href="/"><button type="button" id="homeBtn" class="btn btn-dark btn-lg">Go Back Home</button></a>

</div>