<div class="wrapper">
  <div class="text-center mt-4 name">Register</div>
  <br />
  <form class="p-3 mt-3">
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="text" name="userName" id="userName" placeholder="Username" />
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="text" name="email" id="email" placeholder="Email" />
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input type="password" name="password" id="pwd" placeholder="Password" />
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input
        type="password"
        name="password"
        id="confirm-pwd"
        placeholder="Confrim Password"
      />
    </div>
    <button id="login" class="btn mt-3">Signup</button>
  </form>
  <div class="text-center fs-6">
    <p>Already have an account?</p>
    <a href="/login">Log In</a>
  </div>
  <br />
</div>