<link rel="stylesheet" href="/css/login-style.css" />
<div class="wrapper">
  <div class="text-center mt-4 name">Register</div>
  <br />
  <form class="signup-form p-3 mt-3">
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input
        class="form-input"
        type="text"
        id="username-signup"
        placeholder="Username"
      />
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="text" name="email" id="email-signup" placeholder="Email" />
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input
        class="form-input"
        type="password"
        id="password-signup"
        placeholder="Password"
      />
    </div>
    {{! <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input
        class="form-input"
        type="password"
        id="password-signup"
        placeholder="Confirm Password"
      />
    </div> }}
    <button type="submit" class="btn mt-3">Signup</button>
  </form>
  <div class="text-center fs-6">
    <p>Already have an account?</p>
    <a href="/login">Log In</a>
  </div>
  <br />
</div>

<script src="/js/signup.js"></script>