.card {
  margin: 3rem;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-container {
  display: flex;
  
}

.card-margin {
  margin: 0.5rem;
}
.center {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.back-button {
  display: flex;
}

.header-container {
  width: 100%;
  height: 2rem;
}
.text-center {
  text-align: center;
}

/* CARDS */
.card-background {
  border: 1px solid black;
  background-image: linear-gradient(
    to bottom,
    #2d4e80,
    #2f649b,
    #2d7bb6,
    #2593d1,
    #12aceb
  );
  border-radius: 25px;
} 

.edit-Btn {
  color: white;
}

.delete-Btn {
  color: white;
}