body {
    background-color: rgb(177, 204, 206);
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Zen Kurenaido', sans-serif;
}

.mainCard {
    margin-top:5px;
    margin-bottom: 5px;
}

.logo {
    display: flex;
    margin: 2rem;
    
}

.logoImg {
    justify-content: center;
}

