body {
  background: #ecf0f3;
}

.card {
  margin: 3rem;
  border-radius: 15px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-container {
  display: flex;
  
}

.card-title {
  font-size: 28px;
}

.card-text {
  font-size: 18px;
}

.card-margin {
  margin: 0.5rem;
}
.center {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.back-button {
  display: flex;
}

.header-container {
  width: 100%;
  height: 2rem;
}
.text-center {
  text-align: center;
}

/* CARDS */
.card-background {
  border: 1px solid black;
  background-image: linear-gradient(
    to bottom,
    #2d4e80,
    #2f649b,
    #2d7bb6,
    #2593d1,
    #12aceb
  );
  border-radius: 25px;
} 

#editBtn {
  color: white;
  width: 7rem;
}

#deleteBtn {
  color: white;
  margin: 1rem;
  width: 7rem;
}

.btn {
  color: whitesmoke;
  background-color: #03a9f4;
  border-radius: 25px;
  box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
  letter-spacing: 1.3px;
  width: 10rem;
}

.jumbotron {
  margin-bottom: 1rem;
  margin-left: 6rem;
  margin-right: 6rem;
  border-bottom: black 2px dashed;
}