
.post-card{
    display: flex;
    flex-direction: column;
    align-items:center;

}
.title-container{
    display: flex;
}

.post-card{
    margin: 20rem;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.back-button{
    margin: 5rem;
}

