
body {
    background-image: linear-gradient(
      to bottom,
      #2D4E80,
      #2F649B,
      #2D7BB6,
      #2593D1,
      #12ACEB
    );

  }
.card-container{
    display: flex;
    flex-direction: column;
    align-items:center;

}
.title-container{
    display: flex;
}

.card-margin{
    margin: .5rem;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.back-button{
    margin: 5rem;
}


